<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260358515338-63m0n06s1qau4r98be5iorva3ar6hbjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260358515338-63m0n06s1qau4r98be5iorva3ar6hbjq</string>
	<key>API_KEY</key>
	<string>AIzaSyCdVuhZf_nRuwGqK16ybNQHrJuCKndu63k</string>
	<key>GCM_SENDER_ID</key>
	<string>260358515338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuyashimoshimbara.Like-HeatSNS</string>
	<key>PROJECT_ID</key>
	<string>likeandheartsns-15dcb</string>
	<key>STORAGE_BUCKET</key>
	<string>likeandheartsns-15dcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260358515338:ios:5ff7ac9b15abe9e88e5b73</string>
	<key>DATABASE_URL</key>
	<string>https://likeandheartsns-15dcb.firebaseio.com</string>
</dict>
</plist>